/*
 *  Copyright © 2016 Alex Smith-Fanning and others
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

nav.top-nav {
  height: 122px;
  box-shadow: none;
  font-size: 48px;
  line-height: 122px;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
  margin-left: 45px
}

#logo-container {
  margin-bottom: 32px;
  margin-top: 32px;
  pointer-events: none;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.profile {
  margin-top: 1.1rem;
}

.custom-mobile {
  margin-top: 2rem;
  margin-right: 1em;
}

ul.license-list {
  margin-left: 2em;
}

ul li.license-list {
  list-style-type: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ol li.license-list {
  list-style-type: inherit;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

ol.license-list {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

/* label color */
 .input-field label {
   color: #9e9e9e;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #8bc34a;
 }

 .input-field input[type=email]:focus + label {
   color: #8bc34a;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #8bc34a;
   box-shadow: 0 1px 0 0 #000;
 }

 .input-field input[type=email]:focus {
   border-bottom: 1px solid #8bc34a;
   box-shadow: 0 1px 0 0 #000;
 }

 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #4caf50 ;
   box-shadow: 0 1px 0 0 #000;
 }

 .input-field input[type=email].valid {
   border-bottom: 1px solid #4caf50 ;
   box-shadow: 0 1px 0 0 #000;
 }

 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #f44336;
   box-shadow: 0 1px 0 0 #000;
 }

 .input-field input[type=email].invalid {
   border-bottom: 1px solid #f44336;
   box-shadow: 0 1px 0 0 #000;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

 .welcome-text-large {
   padding-top: 200px;
 }

 .welcome-text-small {
   padding-bottom: 200px;
 }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }